html, body {
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

a {
  color: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

p {
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

main {
  margin: 10px;
  display: flex; /* Added flexbox */
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Center items */
  gap: 16px;
}

footer {
  display: flex;
  justify-content: center;
}

header {
  margin: 10px;
}

/* Default layout (Mobile View) */
div {
  width: 90%;
  display: block;
  position: relative;
  margin:0;
}

div img {
  width: 100%;
  max-height: 200px;
  display: block;
  margin: 2px auto;
  border: 5px solid blue;
  border-radius: 15px;
}

/* Make sure the label paragraphs remain below the image */
div .label {
  position: static; /* Remove absolute positioning */
  display: block;
  margin-top: 10px;
}

/* Tablet View - 772px and above */
@media screen and (min-width: 772px) {
  div {
    width: 45vw;
    display: inline-block;
    vertical-align: top;
  }
  
  div img {
    max-height: 30vh;
  }
}

/* Large Screen View - 998px and above */
@media screen and (min-width: 998px) {
  div {
    width: 30vw;
  }
}
